h1 {font-size: 24.5px; margin-bottom: 1em;}
footer {margin-top:4em;}
footer p {text-align:center;}
#main-content{padding-left:2em; padding-top:1.5em;}
.icon {text-indent: 100%; white-space: nowrap; overflow: hidden;}
#domainList td:nth-child(2),
#domainList td:nth-child(3),
#domainList td:nth-child(4),
#domainList td:nth-child(5) {text-align: center;}
.center{text-align: center !important;}
.pagination{text-align: center;}